<%- include('./partials/nav.ejs', ) %>
    <style>
        .border-think {
            border: 0px solid #f5f5f5;
        }
    </style>
    <div class="container  p-md-2 p-sm-0" style="background-color: #f4f4f4; margin-top: 120px;">
        <h1 class="text-center my-md-5">Bienvenido administrador de mercancía</h1>
        <hr>
        <div class="row g-3">
            
            <div class="col-sm-12 col-md-3 text-center m-md-5 p-md-5 border-think" style="background-color:#eeeeee">
                <h4>Listado de servicios</h4>
                <hr>
                <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
                <lottie-player src="https://assets8.lottiefiles.com/packages/lf20_f5najelk.json"  background="transparent"  speed="1"  style="width: 200px; height: 200px;"  loop  autoplay></lottie-player>
                <hr style="margin-top: 40px;">
                <a class="btn text-light " href="/mercanciaTable" style="background: #000e7c; ">continuar</a>
            </div>
            <div class="col-sm-12 col-md-3 text-center m-md-5 p-md-5 border-think" style="background-color:#eeeeee">
                <h4>Nuevo servicio</h4>
                <hr>
                <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
                <lottie-player src="https://assets7.lottiefiles.com/packages/lf20_hd9g6szl.json"  background="transparent"  speed="1"  style="width: 200px; height: 200px;"  loop  autoplay></lottie-player>
<hr style="margin-top: 40px;">
                <a class="btn text-light" href="/AgregarMercancia" style="background: #000e7c;">continuar</a>
            </div>
            <div class="col-sm-12 col-md-3 text-center  m-md-5 p-md-5 border-think" style="background-color:#eeeeee">
                <h4>servicios actuales</h4>
                <hr>
                <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
                <lottie-player src="https://assets8.lottiefiles.com/packages/lf20_z4cshyhf.json"  background="transparent"  speed="1"  style="width: 200px; height: 200px;"  loop  autoplay></lottie-player>
                <hr>
                <a class="btn text-light " href="/tableService" style="background: #000e7c; ">continuar</a>
            </div>
          
            
        </div>
    </div>



    
        <%- include('./partials/footer.ejs') %>