<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MrzGroup rastreo</title>
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    <!-- // css del software parte principal se importa bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"> 
</head>
<body>

<!-- partial:index.partial.html -->
<nav class="bg-dark navbar-dark">
  <div class="container">
    <a href="" class="navbar-brand"><i class="fas fa-tree mr-2"></i>MrzGroup</a>
    
  </div>
  </nav>
   <section id="header" class="jumbotron text-center">
    <br>
     <h1 class="display-3">Rastreo</h1>
     <p class="lead">bienvenido <strong><%= name %></strong>, este es nuestro software de rastreo de servicios. Esperamos que le sea util</p>
    
</section>
  
<section id="gallery">
  <div class="container">
    <div class="row">
    <div class="col-lg-4 mb-4">
    <div class="card">
      <!-- <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script> -->
      <!-- <lottie-player src="https://assets8.lottiefiles.com/packages/lf20_l3j1mflq.json"  background="transparent"  class="card-img-top" speed="1"  style="width: 300px; height: 300px; margin: 0 auto;"  loop  autoplay></lottie-player>
       -->
       <img src="/img/Buscar1.png" alt="" class="card-img-top">
      <div class="card-body">
        
        <h5 class="card-title">Buscar AWB</h5>
        <form method="post" action="/pF">
          <input type="hidden" name="name" value="<%= name %>"">
          <p class="card-text">Por favor ingrese el AWB del servicio para buscarlo en nuestra base de datos</p>
          <div class="input-group flex-nowrap">
            <span class="input-group-text" id="addon-wrapping"><i class='bx bx-search-alt' ></i></span>
            <input type="text" class="form-control" name="awb" placeholder="AWB" id="buscador" aria-label="AWB" aria-describedby="addon-wrapping">
          </div>
          <br>
          <button type="submit" class="btn btn-outline-primary btn-sm">Buscar <i class='bx bx-search-alt' ></i></button>
        </form>
       
        
      </div>
     </div>
    </div>
  <div class="col-lg-4 mb-4">
  <div class="card">
    <img src="/img/Buscar2.png" alt="" class="card-img-top">
    <!-- <lottie-player src="https://assets7.lottiefiles.com/packages/lf20_hd9g6szl.json"  background="transparent"  class="card-img-top" speed="1"  style="width: 300px; height: 300px; margin: 0 auto;"  loop  autoplay></lottie-player> -->
      <div class="card-body">
        <h5 class="card-title">Buscar HAWB</h5>
        <form method="post" action="/pF2">
          <input type="hidden" name="name" value="<%= name %>"">
          <p class="card-text">Por favor ingrese el HAWB del servicio para buscarlo en nuestra base de datos</p>
          <div class="input-group flex-nowrap">
            <span class="input-group-text" id="addon-wrapping"><i class='bx bx-search-alt' ></i></span>
            <input type="text" class="form-control" name="awb" placeholder="HAWB" id="buscador" aria-label="" aria-describedby="addon-wrapping">
          </div>
          <br>
          <button type="submit" class="btn btn-outline-primary btn-sm">Buscar <i class='bx bx-search-alt' ></i></button>
        </form>
        
      </div>
      </div>
    </div>
    <div class="col-lg-4 mb-4">
    <div class="card">
      <!-- <lottie-player src="https://assets9.lottiefiles.com/packages/lf20_cltgnybr.json"  background="transparent"  class="card-img-top" speed="1"  style="width: 300px; height: 300px; margin: 0 auto;"  loop  autoplay></lottie-player> -->
      <img src="/img/full.png" alt="" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">Todos mis servicios</h5>
        <p class="card-text">también puedes buscar u observar todos los servicios que tiene con nosotros</p>
       <a href="/tableServiceClient/<%= name %> " class="btn btn-outline-success btn-sm">Mirar tabla</a>
        
      </div>
     </div>
    </div>
  </div>
</div>
</section>
<div class="d-grid gap-2 col-3 mx-auto">
  <a href="/loginAut" class="btn btn-danger">Cerrar Sesión <i class='bx bx-log-out' ></i></a>
</div>

    <!-- // script de bootstrap para su correcto funcionamiento -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/@popperjs/core@2"></script>
    <script src="https://unpkg.com/boxicons@2.1.2/dist/boxicons.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.slim.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js"></script>
    <script>
      $("#buscador").bind('keypress', function(event) {
      var regex = new RegExp("^[a-zA-Z0-9 ]+$");
      var key = String.fromCharCode(!event.charCode ? event.which : event.charCode);
      if (!regex.test(key)) {
        event.preventDefault();
        return false;
     }
    });
    </script>
</body>

</html>

